DEFINE=lab_2.calculator.commands.DefineCommand
PUSH=lab_2.calculator.commands.PushCommand
ADD=lab_2.calculator.commands.AddCommand
SUBTRACT=lab_2.calculator.commands.SubtractCommand
MULTIPLY=lab_2.calculator.commands.MultiplyCommand
DIVIDE=lab_2.calculator.commands.DivideCommand
PRINT=lab_2.calculator.commands.PrintCommand
SQRT=lab_2.calculator.commands.SqrtCommand
POP=lab_2.calculator.commands.PopCommand